ion-searchbar {
  --background: var(--ion-color-secondary);
  padding-top: 0;
}

ion-list .list-item {
  ion-icon.saved-type-icon {
    margin-right: 16px;
    margin-left: 5px;
  }

  &:not(.starred) {
    ion-icon.list-item-icon {
      opacity: 0;
    }
  }
}
