<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-avatar class="avatar">
    <img src="https://pbs.twimg.com/profile_images/2833439682/3d44e6de40db4c108bfef35a5d0fec8f.jpeg" />
  </ion-avatar>

  <ion-card>
    <ion-list>
      <ion-item lines="inset">
        <ion-icon name="contacts" slot="start"></ion-icon>
        <ion-input [value]="userInfo.name" readonly>
        </ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input [value]="userInfo.email" readonly>
        </ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input [value]="userInfo.phoneNumber" readonly>
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>