<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="onCloseButtonClicked()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Places Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none">
      <ion-label>Ask before deleting place</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="prefs.askBeforeDelete"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Show reported icons</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="prefs.showReportedIcons"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Show starred icons</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="prefs.showStarredIcons"></ion-checkbox>
    </ion-item>

  </ion-list>
</ion-content>