<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="openBusinessEditModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="openPrefsModal()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Saved Businesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="saved-businesses-list" lines="full" *ngIf="businessStorage.businesses.length > 0">
    <ion-item-sliding *ngFor="let b of businessStorage.businesses" #slideItem>

      <div class="business {{b.isStarred ? 'starred' : ''}}" #businessElement>
        <ion-item (click)="editBusinessInfo(b, slideItem)">
          <ion-icon class="business-star-icon" name="star" color="primary"></ion-icon>
          <ion-label>
            <h2>{{b.name}}</h2>
            <p>
              <ion-icon name="pin"></ion-icon> {{b.address.fullAddress}}
            </p>
          </ion-label>
        </ion-item>
      </div>

      <ion-item-options side="start" (ionSwipe)="deleteBusiness(b, slideItem, businessElement)">
        <ion-item-option color="danger" expandable (click)="deleteBusiness(b, slideItem, businessElement)">
          <ion-label>
            <ion-icon name="trash" color="secondary"></ion-icon>
            Delete
          </ion-label>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end" (ionSwipe)="toggleStarBusiness(b, slideItem)">
        <ion-item-option color="primary" (click)="editBusinessInfo(b, slideItem)">
          <ion-label>
            <ion-icon name="create" color="secondary"></ion-icon>
            Edit Info
          </ion-label>
        </ion-item-option>
        <ion-item-option color="primary" (click)="viewBusinessOnMap(b, slideItem)">
          <ion-label>
            <ion-icon name="pin" color="secondary"></ion-icon>
            View on Map
          </ion-label>
        </ion-item-option>

        <ion-item-option color="tertiary" (click)="toggleStarBusiness(b, slideItem)" expandable *ngIf="!b.isStarred">
          <ion-label>
            <ion-icon name="star-outline" color="secondary"></ion-icon>
            Star
          </ion-label>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="toggleStarBusiness(b, slideItem)" expandable *ngIf="b.isStarred">
          <ion-label>
            <ion-icon name="star" color="secondary"></ion-icon>
            Un-Star
          </ion-label>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>