ion-content {
  &.md .scroll-container {
    height: calc(100vh - 219px);
  }
  &.ios .scroll-container {
    height: calc(100vh - 199px);
  }
}

ion-searchbar {
  --background: var(--ion-color-secondary);
}

ion-list .list-item {
  ion-icon.saved-type-icon {
    margin-right: 16px;
    margin-left: 5px;
  }

  &:not(.starred) {
    ion-icon.list-item-icon {
      opacity: 0;
    }
  }
}