.list-item {
  ion-badge {
    display: block;
    padding: 5px 3px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 0;
  }

  &.unread ion-badge {
    opacity: 1;
  }
}