ion-content {
  &.md .scroll-container {
    height: calc(100vh - 161px);
  }
  &.ios .scroll-container {
    height: calc(100vh - 139px);
  }
}

.list-item {
  ion-badge {
    display: block;
    padding: 5px 3px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 0;
  }

  &.unread ion-badge {
    opacity: 1;
  }
}
