.hidden {
  display: none;
}

#sort-by-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;

  ion-item {
    --color: white;
    --background: var(--ion-color-primary-tint);

    ion-select.md {
      margin-top: 4px;
    }
  }
}

.list-item {
  ion-badge {
    display: block;
    padding: 5px 3px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 0;
  }

  &.unread ion-badge {
    opacity: 1;
  }
}