<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="onCloseButtonClicked()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title id="modal-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item id="map-saved-info" *ngIf="!business.wasManuallySaved" lines="none">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>
      Businesses saved from the map cannot<br/>
      have their name or address changed.
    </ion-label>
  </ion-item>

  <form id="add-business-form" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="pricetag"></ion-icon> Business Name (Required)
      </ion-label>
      <ion-input type="text" clearInput required name="business-name" [(ngModel)]="business.name"
        (ionChange)="validateForm()" [readonly]="!business.wasManuallySaved"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="pin"></ion-icon> Business Address (Required)
      </ion-label>
      <ion-input type="text" clearInput required placeholder="Street name" name="street-name"
        [(ngModel)]="business.address.street" (ionChange)="validateForm()" [readonly]="!business.wasManuallySaved">
      </ion-input>
      <ion-input type="text" clearInput required placeholder="City name" name="city-name"
        [(ngModel)]="business.address.city" (ionChange)="validateForm()" [readonly]="!business.wasManuallySaved">
      </ion-input>
      <ion-input type="text" clearInput required placeholder="Region name" name="region-name"
        [(ngModel)]="business.address.region" (ionChange)="validateForm()" [readonly]="!business.wasManuallySaved">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="contact"></ion-icon> Business Owner
      </ion-label>
      <ion-input type="text" clearInput placeholder="Name" name="owner-name" [(ngModel)]="business.owner.name">
      </ion-input>
      <ion-input type="email" clearInput placeholder="Email" name="owner-email" [(ngModel)]="business.owner.email">
      </ion-input>
      <ion-input type="tel" min="10" maxlength="10" clearInput placeholder="Phone Number" name="owner-phone-number"
        [(ngModel)]="business.owner.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>

      <ion-label position="stacked">
        <ion-icon name="contact"></ion-icon> Contact Person
      </ion-label>
      <ion-input type="text" clearInput placeholder="Name" name="contact-name"
        [(ngModel)]="business.contactPerson.name">
      </ion-input>
      <ion-input type="email" clearInput placeholder="Email" name="contact-email"
        [(ngModel)]="business.contactPerson.email">
      </ion-input>
      <ion-input type="tel" min="10" maxlength="10" clearInput placeholder="Phone Number" name="contact-phone-number"
        [(ngModel)]="business.contactPerson.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="cash"></ion-icon> Current POS Provider
      </ion-label>
      <ion-input type="text" clearInput name="current-provider" [(ngModel)]="business.currentProvider"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="create"></ion-icon> Additional Notes
      </ion-label>
      <ion-textarea rows="5" name="additional-notes" [(ngModel)]="business.notes"></ion-textarea>
    </ion-item>

    <ion-button type="submit" [disabled]="!formIsValid">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
  </form>
</ion-content>