<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="onCloseButtonClicked()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Notifications Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-label>Enable notifications</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="prefs.enableNotifs"></ion-checkbox>
  </ion-item>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Enable push notifications</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="prefs.enablePushNotifs" [disabled]="!prefs.enableNotifs"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Enable vibration</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="prefs.vibrateOnNotifReceived" [disabled]="!prefs.enableNotifs">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-label>Ask before deleting notifications</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="prefs.askBeforeDelete"></ion-checkbox>
  </ion-item>

</ion-content>