<!--
    Author:             Adriano Cucci
    Last Modified By:   Adriano Cucci
    Date Modified:      2019/09/20
-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="login-form">

    <ion-img src="assets/images/image-placeholder.jpg"></ion-img>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item color="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button href="../main-tab-bar/home-tab" expand="block" color="primary">Login</ion-button>

  </div>
</ion-content>