<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" style="opacity: 0;"></ion-progress-bar>

  <form id="login-form" (ngSubmit)="onLoginFormSubmit()">

    <ion-img src="assets/images/image-placeholder.jpg"></ion-img>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input id="txt-email" type="text"></ion-input>
    </ion-item>

    <ion-item color="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input id="txt-password" type="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary">Login</ion-button>

  </form>
</ion-content>