ion-progress-bar {
  position: absolute;
  top: 0;
}

#login-form {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-flow: column;
  padding: 0 10%;

  ion-img {
    min-width: 100px;
    min-height: 100px;
    max-width: 30vh;
    max-height: 30vh;
    margin: 0 auto;
    margin-bottom: 10%;
    transform: rotateZ(0deg) scale(1);
    transition: 0.4s;
  }

  @media (max-height: 500px) {
    ion-img {
      width: 0;
      height: 0;
      min-width: 0;
      min-height: 0;
      margin-bottom: 0%;
      transform: rotateZ(-180deg) scale(0);
    }
  }

  ion-button {
    margin-top: 12%;
  }

  ion-item.ios {
    transform: translateX(-9px);
  }
}
