/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.hidden {
  display: none;
}

.sort-by-container {
  position: sticky;
  top: 0;
  z-index: 1;

  ion-item {
    --color: white;
    --background: var(--ion-color-primary-tint);

    ion-select.md {
      margin-top: 4px;
    }
  }
}

ion-toast {
  --background: var(--ion-color-dark);
  color: var(--ion-color-secondary);
  transform: translateY(-70px);
}

ion-list.ion-item-sliding-list {
    margin: 0;
  
    .list-item {
      ion-item {
        display: flex;
        height: 64px;
  
        ion-icon.list-item-icon {
          margin-right: 10px;
        }
  
        ion-icon.list-item-sub-icon {
          transform: translateY(1.5px);
        }
  
        &:active {
          --background: var(--ion-color-secondary-shade);
        }
      }
  
      &.deleting ion-item {
        transition: 0.3s;
        height: 0px;
        pointer-events: none;
      }
    }
  
    ion-item-option {
      ion-label {
        width: 75px;
  
        color: var(--ion-color-secondary);
        font-size: 10px;
        text-align: center;
  
        ion-icon {
          display: block;
          padding: 0 10px;
          margin: auto;
          margin-bottom: 5px;
          font-size: 25px;
        }
  
        &.md {
          font-size: 8px;
        }
      }
    }
  
    &.list-md {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  ion-item.empty-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --padding-start: 0;
    --inner-padding-end: 0;
    --color: var(--ion-color-primary-tint);
    font-size: 3vmax;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: emptyListIntro 0.5s forwards;
  
    div {
      width: 100%;
      padding: 16px;
  
      ion-label {
        font-size: 3vmax;
      }
      ion-icon {
        margin-top: 20px;
        font-size: 20vmax;
        animation: emptyListIconIntro 0.6s cubic-bezier(0.65, 0.34, 0.51, 1.67);
      }
    }
  }

  @keyframes emptyListIntro {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes emptyListIconIntro {
    from {
      transform: scale(0) rotateZ(180deg);
    }
    to {
      transform: scale(1) rotateZ(0deg);
    }
  }