<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar id="progress-bar" color="primary" type="indeterminate">
  </ion-progress-bar>

  <div id="map"></div>

  <div id="controls" class="hidden">
    <ion-searchbar id="address-searchbar" placeholder="Find an address..." animated (keyup.enter)="findAddress()">
    </ion-searchbar>

    <ion-fab id="nearby-search-fab" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="business"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="findNearby()">
          <ion-icon name="pin"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button (click)="gmapsService.clearNearbyMarkers()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab id="center-location-fab" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="gmapsService.centerMap()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <!-- <div id="debug-window">
    <h5>DEBUG</h5>
    <p id="debug-text">Sample text...</p>
  </div> -->
</ion-content>