ion-header {
  ion-searchbar {
    --background: var(--ion-color-secondary);
  }
}

ion-content {
  position: relative;

  ion-progress-bar {
    position: absolute;
    top: 0;
    background-color: var(--ion-color-light);
    z-index: 1;
  }

  #map {
    display: block;
    width: 100%;
    height: 100%;
  }

  ion-fab {
    bottom: 18px;

    ion-fab-button {
      --background: var(--ion-color-secondary);
      --color: var(--google-maps-grey);
      opacity: 0.7;
    }

    &#center-location-fab {
      right: 60px;
    }

    &#nearby-search-fab {
      right: 3px;
      bottom: 93px;
    }

    &#clear-nearby-search-fab {
      right: 3px;
      bottom: 139px;
    }
  }

  #nearby-search-effect.animate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vmin;
    height: 100vmin;
    margin: auto;
    background-color: var(--ion-color-secondary-tint);
    border: solid var(--ion-color-primary-tint) 10px;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;

    &.animate {
      animation: nearbySearchAnimation 1.5s;
    }
  }

  @keyframes nearbySearchAnimation {
    from {
      transform: scale(0);
      opacity: 0.8;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
}
