<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="openPrefsModal()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

  </ion-toolbar>

  <ion-searchbar class="header-controls" id="places-searchbar" placeholder="Find a place..." animated (keyup.enter)="findPlace()"
    *ngIf="mapFinishedLoading">
  </ion-searchbar>

</ion-header>

<ion-content>
  <ion-progress-bar id="progress-bar" color="primary" type="indeterminate">
  </ion-progress-bar>

  <div id="map"></div>

  <div *ngIf="mapFinishedLoading">
    <ion-fab id="nearby-search-fab" vertical="bottom" horizontal="end">
      <ion-fab-button size="small" (click)="findNearby()">
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab id="clear-nearby-search-fab" vertical="bottom" horizontal="end">
      <ion-fab-button size="small" (click)="clearGenericMarkers()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab id="center-location-fab" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="gmapsService.centerMap()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div id="nearby-search-effect"></div>
  </div>
</ion-content>