ion-header {
  background: var(--ion-color-primary);

  ion-searchbar {
    padding-top: 0;
    --background: var(--ion-color-secondary);
  }
}

ion-content {
  position: relative;

  ion-progress-bar {
    position: absolute;
    top: 0;
    background-color: var(--ion-color-light);
    z-index: 1;
  }

  #map {
    display: block;
    width: 100%;
    height: 100%;
  }

  ion-fab {
    bottom: 18px;

    ion-fab-button {
      --background: var(--ion-color-secondary);
      --color: var(--google-maps-grey);
      opacity: 0.7;
    }

    &#center-location-fab {
      right: 60px;
    }

    &#nearby-search-fab {
      right: 3px;
      bottom: 93px;
    }

    &#clear-nearby-search-fab {
      right: 3px;
      bottom: 139px;
    }
  }
}